*
{
    margin: 0;
    padding: 0;
}
.line1
{
    background-color: #c082d8;
   text-align: center;
    height: 30px;
    padding-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.nav
{
    justify-content: space-evenly;
    
}

